footer.footer#footer
	.footer-top
		.container.flex
			.footer__column
				a.footer__logo(href="#")
					img(src="icons/footer-logo.svg" alt="logo")
			.footer__column
				h3.h3-title Навигация
				ul.nav.footer__nav
					li.nav__item
						a.nav__link(href="#intro") Главная
					li.nav__item
						a.nav__link(href="#about") О гостинице
					li.nav__item
						a.nav__link(href="#benefits") Преимущества
					li.nav__item
						a.nav__link(href="#price") Номера
					li.nav__item
						a.nav__link(href="#reviews") Отзывы
			.footer__column
				h3.h3-title Быстрая связь
				button.book-button.footer__book-button(type="button") Забронировать
				button.callback-button(type="button") Обратный звонок
			.footer__column
				a.on-top-link(href="#header" aria-label="переместиться на начало страницы")
			.footer__column
				h3.h3-title Контакты
				.address-block
					span Адрес:
					address Кайдаловская ул., 37, Чита
				a(href="tel:+73022217856") +7 (3022) 217856
				a(href="tel:+79294830255") +79294830255
				ul.social
					li.social__item.social__item_puprle
						a.social__link.social__link-viber(href="#" style="background-image: url('../icons/viber.svg');" aria-label="link to Viber")
					li.social__item.social__item_green
						a.social__link.social__link-whatsapp(href="#" style="background-image: url('../icons/whatsapp.svg');" aria-label="link to WhatsApp")

	.footer-copy
		.container
			p © Все права защищены.
