header.header#header
	.container.flex
		a.logo(href="#")
			img(src="icons/header-logo.svg" alt="logo")
		.header__right
			nav
				ul.nav
					li.nav__item
						a.nav__link.active(href="#intro") Главная
					li.nav__item
						a.nav__link(href="#about") О гостинице
					li.nav__item
						a.nav__link(href="#benefits") Преимущества
					li.nav__item
						a.nav__link(href="#price") Номера
					li.nav__item
						a.nav__link(href="#reviews") Отзывы
			button.callback-button(type="button") Обратный звонок
