-
	let benefitsItemsContent = {
		wifi: {
			name: "Бесплатный WI-FI",
			path: "freeWIFI",
			content: "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.",
		},
		access: {
			name: "Круглосуточный доступ",
			path: "access",
			content: "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.",
		},
		tv: {
			name: "Телевизор",
			path: "tv",
			content: "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.",
		},
		carpark: {
			name: "Парковка",
			path: "carpark",
			content: "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.",
		},
		cleaning: {
			name: "Влажная уборка",
			path: "cleaning",
			content: "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.",
		},
		bathhouse: {
			name: "Банно-прачечный комплекст",
			path: "bathhouse",
			content: "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.",
		},
		kitchen: {
			name: "Собственная кухня",
			path: "kitchen",
			content: "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.",
		},
		hall: {
			name: "Банкетный зал",
			path: "hall",
			content: "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.",
		},
		canteen: {
			name: "Просторная столовая",
			path: "canteen",
			content: "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.",
		},
	};

-
	let reviewsList = {
		иванов1: {
			avatarPath: "non-avatar.svg",
			name: "Иван Иванов",
			text: "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.",
			date: {
				day: "01",
				month: "03",
				year: "2023",
			},
		},
		иванов2: {
			avatarPath: "non-avatar.svg",
			name: "Иван Иванов",
			text: "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.",
			date: {
				day: "01",
				month: "03",
				year: "2023",
			},
		},
		иванов3: {
			avatarPath: "non-avatar.svg",
			name: "Иван Иванов",
			text: "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.",
			date: {
				day: "01",
				month: "03",
				year: "2023",
			},
		},
		иванов4: {
			avatarPath: "non-avatar.svg",
			name: "Иван Иванов",
			text: "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.",
			date: {
				day: "01",
				month: "03",
				year: "2023",
			},
		},
	}
